<h1 class="text-center px-auto text-success">Player Dashboard </h1>

<nav class="navbar navbar-expand-lg navbar-dark bg-success col-md-9 mx-auto rounded">
  <div class="container">


    <div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">


        <li class="nav-item">
          <a class="nav-link" routerLink="/add-player">Add Player</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/update-player">Update Player</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/display-player">Display All</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
